/* Global styles */

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    background-color: #027bfe;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.form .button {
    padding: 12px 40px;
    font-size: 18px;
}

.button:hover {
    background-color: #0266d2;
}

/* Header styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F8F8FF;
    z-index: 9999;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-title {
    font-weight: 400;
}

/* Hero section styles */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 51px;
    padding: 100px 0;
    background: #fff;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.hero .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero .content {
    position: relative;
    z-index: 1;
}

.hero .content h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

/* Media-queries */

@media (max-width: 700px) {
    .hero {
        padding: 50px 0;
    }
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 400px;
    font-size: 18px;
    padding: 12px 12px;
    margin-right: 10px;
    border-radius: 4px;
    border: none; 
    box-sizing: border-box;
}


/* icons-grid section styles */

.icons-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F5;
}

.icon {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin-top:80px;
    margin-bottom: 80px;
    padding: 30px;
    
}
 
.icons-grid .icon-img {
    display: flex;
    justify-content: center;
    width: 60px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 17px;
    color: #8b8b8b;
}

/* text-image-grid section styles */

.text-image-grid {
    position: relative;
    display: flex;
    flex-direction: column;
}
.text-image {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.text-image:nth-child(odd) {
    flex-direction: row-reverse;
}

.Text {
    padding: 50px;
    text-align: left;
    margin: 0px 100px;
    width: 50%;
}

.text-image-grid p, h2 {
    text-align: left;
}

.text-image .Grig-image {
    width: 50%;
}

.Text-image img {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* testimonials section styles */

.testimonials {
    position: relative;
    background-color: #F5F5F5;
    padding: 40px;
}

.section-name {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Message-container {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}  

.Message-container .TestText {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.TestText p {
    font-size: 14px;
    width: 280px; 
}

.TestText h3 {
    margin-bottom: 0;
}

.TestText .Text-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: auto;
}






/* hero-small section styles */

.hero-small {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 100px 0;
        background: white;
    }
    
    .hero-small:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        pointer-events: none;
        z-index: 1;
    }
    
    .hero-small .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
    .hero-small .content {
        position: relative;
        z-index: 1;
    }
    
    .hero-small .content h1 {
        color: #fff;
        font-size: 30px;
        text-align: center;
        max-width: 1000px;
        width: 100%;
    }



/* Footer section styles */

.Footer-conteiner {
    position: relative;
    background-color: #F5F5F5;
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.Left-footer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 80px;
    position:relative;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

.Left-footer ul li a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: #1E90FF;
    margin-right: 30px;  
}

.Left-footer ul li a:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #8b8b8b;
    height: 0;
    width: 0;
    border-radius: 50%;
}

.Left-footer ul li:last-child a:after {
    content: '';
    position: absolute;
    border: none;
}

.copyrights p {
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 40px;
}

.Right-footer {
    margin-right: 100px;
}

.Right-footer a {
    text-decoration: none;
}

.Footer-img {
    width: 25px;
    height: 25px;
    padding: 15px;
}



